#language img,
.lng-image img
{
	width: 16px;
}
.pointer{
	cursor: pointer
}

.btn.savecontinue i {
	padding-right: 10px;
}

form#form-product tbody td.name a,
form#form-information tbody td.name a,
form#form-layout tbody td.name a,
#extension tbody td.name a,
form#form-category tbody td.name a
{
	padding-top: 16px;
	padding-bottom: 16px;
	display: block;
	width: 100%;
}

.secure-warning {
	background: #fef1f1;
	color: #f56b6b;
	text-align: center;
	font-size: 110%;
  margin: 0;
}

.secure-warning em {
	text-decoration: underline;
}

/* Banner styles */
#form-banner textarea {
	width:100%;
	height:70px;
}

form .dropdown-menu{ max-height: 400px; overflow-y: scroll}