# Config and Htaccess Files
/.htaccess
/install/.htaccess
/.htpasswd
/config.php
/admin/config.php
/catalog/controller/xml
/catalog/controller/*/_*

# XML filesimport
catalog/controller/xml/*.xml

# Versioning .zip files
# git archive --format=zip HEAD `git diff HEAD^ HEAD --name-only` > $(pwgen 20 1).zip
/*.zip
/versioning.sh
/*.sh

# Image Cache Files
/image/data/
/image/cache/*
/image/catalog/*

# System Cache Files
/system/storage/cache/*

# Vqmod
/vqmod/vqcache/*
/vqmod/logs/*
/vqmod/*.cache

# Modification Files
/system/storage/modification/*

# Templates Files
/image/templates/*
/image/templates/default.jpg

# Download Files
/system/storage/download/*

# Upload Files
/system/storage/*
/system/storage/logs/*

# Templates
/catalog/view/theme/*
!/catalog/view/theme/default/

# Languages
/catalog/language/*
!/catalog/language/en-gb/
/admin/language/*
!/admin/language/en-gb/


# Not files
!/system/storage/**/index.html
!/image/cache/index.html
!/image/no_image.jpg

# Force ignore individual files
*-gitignore*
!.gitignore
/nbproject/
/.idea

# Ignore Composer Vendor Files
/vendor
