body .notifyjs-container {
    line-height: 1.1em;
}
body .notifyjs-bootstrap-base {
    padding: 8px 3px 8px 24px;
    text-transform: initial;
}

legend {
    width: auto;
}

fieldset {
    margin: 10px 0;
}

#form-language img {
    max-width: 16px;
}

.alert-danger {
    position: relative;
}
.alert.alert-cart{ position: fixed; top: 30px; z-index: 9999; right: 50px;}
.alert-success-addtocart {
    position: fixed;
    right: 30px;
    top: 60px;
    z-index: 999;
    border: 2px solid #0f75bc;
    background-color: #fff;
    font-size: 120%;
    width: 200px;
}

.close {
    font-size: 36px;
    display: inline-block;
    float: right;
    margin-top: -8px;
}
.relative { position: relative;}
/* grouped Products */
.product-group li {
    float: left;
    border: 2px solid white;
    box-sizing: initial;
}

.product-group .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.product-group img {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

.product-group a {
    position:relative;
    display: block;
    height: 100%;
    width: 100%;
}

.product-group li.active {
    border: 2px solid green;
}

.product-group li:hover {
    border: 2px solid grey;
}

.product-group:after{
    display: table;
    content: " ";
    clear: both;
}


.img-responsive, .thumbnail>img, .thumbnail a>img {
    margin: 0 auto; /* Centering images */

}

.image-additional .video img {
    display: block;
    max-width: 100%;
    height: auto;
}

.over{
     position: absolute;
    bottom: 0;
    right: 0;
}
.image{
    position: relative;
}

.category-layout{
    border: 1px solid transparent;
}
.category-layout:hover{
    border: 1px solid #e7e7e7;

}
.category-layout .category-thumb .caption {
    text-align: center;
}

#top .language-select img {
	height: 16px;
}

span.error input{
    border:  1px solid red;
}

#column-left {
    height: 100%;
    position: static;
}

/**
* Left category Mega Menu for Simplica (and Default) theme
* Thannks to: https://bootsnipp.com/snippets/featured/bootstrap-mega-menu
*/

.category-item:hover .dropdown-menu.mega-dropdown-menu {
    color: red;
    display: block;
}


.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.category-item > a > .fa{
    float: right;
    line-height: 25px;
}

.mega-dropdown-menu ul li .all-categories{
    color: #007acc;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 16px;
    white-space: normal;
    padding: 3px 0px;
}

.mega-dropdown-menu .dropdown-header a {
    border:0px;
    padding:0;
}
.mega-dropdown-menu .dropdown-header a:hover, .dropdown-menu .child_3 li > a:hover {
    background: transparent;
    border: 0;
}

.mega-dropdown-menu {
    width: 399%;
    padding: 5px;
    background-color: #f5f5f5;
    left: 100%;
    top: 0;
    margin-bottom: 50px;
}

.mega-dropdown-menu li > a:hover {
    background-color: transparent;
    border: none;
}

.mega-dropdown-menu .child_3 {
    padding: 0;
}

.mega-dropdown-menu .child_3 > li {
    list-style: none;
}

.mega-dropdown-menu .child_3 li > a {
    border: none;
    display: block;
    padding: 0;
    padding-top: 3px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
    font-size: 12px;
}


/* Manufacturer list*/
.manufacturer-list li {
    list-style:none;
    float:left;
    padding-right: 15px;
}

/* Manufacturer list*/

/* Slideshow styles */
.banner-slideshow .item {
    position: relative;
}
.banner-slideshow h2, .banner-slideshow span {color:#EEEEEE;}
.banner-slideshow .item .banner-text {
    position: absolute;
    bottom: 0;
    background:#000;
    padding:10px;
    color:#EEEEEE;
    min-width:25%;
    opacity: 0.8;
}
.banner-slideshow .item a.banner-text:hover, .banner-slideshow .item .banner-text h2:hover{
    color:#007acc;
}

.banner-slideshow .item .banner-text h2{
    font-weight:bold;
    margin:0 0 10px 0;
}
.banner-slideshow .item .banner-text span{
    text-decoration: none;
    font-size:14px;
}


/* Slideshow styles */
@media print {

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666666666666%;
    }
    .col-sm-10 {
        width: 83.33333333333334%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666666666666%;
    }
    .col-sm-7 {
        width: 58.333333333333336%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666666666667%;
    }
    .col-sm-4 {
        width: 33.33333333333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.666666666666664%;
    }
    .col-sm-1 {
        width: 8.333333333333332%;
    }

    a[href]:after {
        content: none !important;
    }
}

/*CART*/
#mycart .price, #mycart .total{
    text-align:right;
}
