#form-language img {
    max-width: 16px;
}

.alert.alert-cart{ position: fixed; top: 30px; z-index: 9999; right: 50px;}
.close { font-size: 36px; }

/* grouped Products */
.product-group li {
    float: left;
    border: 2px solid white;
    box-sizing: initial;
}

.product-group .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.product-group img {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

.product-group a {
    position:relative;
    display: block;
    height: 100%;
    width: 100%;
}

.product-group li.active {
    border: 2px solid green;
}

.product-group li:hover {
    border: 2px solid grey;
}

.product-group:after{
    display: table;
    content: " ";
    clear: both;
}


.img-responsive, .thumbnail>img, .thumbnail a>img {
    margin: 0 auto; /* Centering images */

}
.over{
     position: absolute;
    bottom: 0;
    right: 0;
}
.image{
    position: relative;
}

.category-layout{
    border: 1px solid transparent;
}
.category-layout:hover{
    border: 1px solid #e7e7e7;

}
.category-layout .category-thumb .caption {
    text-align: center;
}

#top .language-select img {
	height: 16px;
}